@import '../../styles.less';

.hero-section.inside-page{display: flex; width: 100%; height: auto; padding-bottom: 25%; /*background: url('../../assets/images/nyc.webp') no-repeat;*/ background-size: cover; background-position: center center; background-blend-mode: luminosity; /*background-color: rgba(84, 67, 136, .5);*/ margin-top: 0px; position: relative; overflow: hidden; z-index: 1;
    .header-fallback-bg{display: none; width: 100%; height: auto;  min-height: 100px; max-width: inherit; background: linear-gradient(to right, #DD512F, #57345e); flex: 0 0 auto; transform: rotateY(180deg); position: absolute; top: 0; right: 0%; z-index: 2; overflow: hidden;}
    #wave-end{display: block; position: absolute; width: 1px; height: 1px; top: 80px; left: 0; opacity: 0; pointer-events: none;}
    svg{display: flex; width: 145%; height: auto; max-width: inherit; flex: 0 0 auto; transform: rotateY(180deg); position: absolute; top: 0; right: 0%; z-index: 1; overflow: hidden;}
}
h1{font-size: 48px; max-width: 968px; margin: 0 auto; line-height: 1.2;}
p{margin: 0 auto; max-width: 968px; font-size: 26px;
    span.bold{font-weight: 900;}
}

.stats-container{display: flex; flex-direction: row; justify-content: space-evenly; align-items: stretch; flex-wrap: wrap; background: lighten(@white-purple, 2%); padding: 40px 0; border-radius: 12px;
    .stat-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: center; min-width: 325px; text-align: center; color: @black; margin: 40px 0;
        h2{padding: 20px 0 10px 0; font-size: 84px;}
        .value{font-size: 24px;}
    }
}
p.tag{font-size: 42px; text-align: center;  opacity: .85; margin-bottom: 0px;}
@media screen and (max-width: 1000px){
    .hero-section.inside-page{padding-bottom: 30%;
        svg{width: 170%;}
    }
}

@supports (-webkit-touch-callout: none) {
    .hero-section.inside-page{
        .header-fallback-bg{display: flex;}
        svg{display: none;}
    }
}