@import '../../styles.less';

.hero-section.inside-page{display: flex; width: 100%; height: auto; padding-bottom: 25%; /*background: url('../../assets/images/nyc.webp') no-repeat;*/ background-size: cover; background-position: center center; background-blend-mode: luminosity; /*background-color: rgba(84, 67, 136, .5);*/ margin-top: 0px; position: relative; overflow: hidden; z-index: 1;
    #wave-end{display: block; position: absolute; width: 1px; height: 1px; top: 80px; left: 0; opacity: 0; pointer-events: none;}
    svg{display: flex; width: 145%; height: auto; max-width: inherit; flex: 0 0 auto; transform: rotateY(180deg); position: absolute; top: 0; right: 0%; overflow: hidden;}
}

p{margin: 0 auto;
    span.bold{font-weight: 900;}
}

.leadership-cards-container{display: flex; flex-direction: row; justify-content: flex-start; align-items: stretch; flex-wrap: wrap;  margin-top: 40px;
    .individual-card{display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; flex-basis: calc(50% - 80px); flex-grow: 1; min-width: 225px; max-width: 275px; padding: 20px 0px 0px 0px; margin: 20px; background: @white; border-radius: 10px; box-shadow: 0 0.6px 1.8px rgba(0, 0, 0, 0.014), 0 1.5px 4.3px rgba(0, 0, 0, 0.02), 0 2.9px 8.1px rgba(0, 0, 0, 0.025), 0 5.1px 14.5px rgba(0, 0, 0, 0.03), 0 9.6px 27.2px rgba(0, 0, 0, 0.036), 0 23px 65px rgba(0, 0, 0, 0.05); position: relative; will-change: transform; transition: .25s ease-in-out;
        .headshot{width: 100%; height: 0; padding-bottom: 100%; margin-top: 40px; background: url('../../assets/images/michael_headshot.webp') no-repeat; background-size: contain; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; overflow: hidden;}
        h2{.arial(24px, 700, @black); padding: 0 20px 10px 20px;}
        span.role{width: 100%; padding: 10px 20px; .arial(14px, 500, @navy); line-height: 1.4; text-transform: uppercase; letter-spacing: 1.5px;}
        &:nth-of-type(2){
            .headshot{background: url('../../assets/images/ella_headshot.webp') no-repeat; background-size: contain;}
        }
        &:nth-of-type(3){
            .headshot{background: url('../../assets/images/jon-headshot-temp.jpg') no-repeat; background-size: contain;}
        }
        &:nth-of-type(4){
            .headshot{background: url('../../assets/images/jeremy-headshot.jpeg') no-repeat; background-size: contain;}
        }
        &:hover{transform: scale(1.1); transform-origin: center center; box-shadow: 0 0.6px 3.8px rgba(0, 0, 0, 0.04), 0 1.5px 8.3px rgba(0, 0, 0, 0.05), 0 2.9px 10.1px rgba(0, 0, 0, 0.045), 0 5.1px 21.5px rgba(0, 0, 0, 0.08), 0 9.6px 33.2px rgba(0, 0, 0, 0.056), 0 23px 80px rgba(0, 0, 0, 0.1);}
    }
}

@media screen and (max-width: 1000px){
    .hero-section.inside-page{padding-bottom: 30%;
        svg{width: 170%;}
    }
}

@media screen and (max-width: 876px){
    .leadership-cards-container{justify-content: space-evenly;
        .individual-card{max-width: 100%;}
    }
}

@media screen and (max-width: 540px){
    .leadership-cards-container{
        .individual-card{margin: 20px 0;}
    }
}