@import '../../styles.less';

.hero-section.inside-page{display: flex; width: 100%; height: auto; padding-bottom: 25%; /*background: url('../../assets/images/nyc.webp') no-repeat;*/ background-size: cover; background-position: center center; background-blend-mode: luminosity; /*background-color: rgba(84, 67, 136, .5);*/ margin-top: 0px; position: relative; overflow: hidden; z-index: 1;
    .header-fallback-bg{display: none; width: 100%; height: auto;  min-height: 100px; max-width: inherit; background: linear-gradient(to right, #DD512F, #57345e); flex: 0 0 auto; transform: rotateY(180deg); position: absolute; top: 0; right: 0%; z-index: 2; overflow: hidden;}
    #wave-end{display: block; position: absolute; width: 1px; height: 1px; top: 80px; left: 0; opacity: 0; pointer-events: none;}
    svg{display: flex; width: 145%; height: auto; max-width: inherit; flex: 0 0 auto; transform: rotateY(180deg); position: absolute; top: 0; right: 0%; z-index: 1; overflow: hidden;}
}

.svg-containers{display: flex; flex-direction: row; justify-content: space-evenly; align-items: flex-start; flex-wrap: wrap; margin-top: 80px;
    svg{width: auto; height: 150px; margin: 0 20px 20px 20px;}
}

.info-cards-container{display: flex; flex-direction: row; justify-content: space-around; align-items: flex-start; flex-wrap: wrap; width: 100%; min-height: 200px; margin-top: 40px;
    .info-card{display: flex; flex-direction: column; justify-content: flex-start; align-items: center; flex: 1; min-width: 275px; min-height: 175px; padding: 40px; margin: 20px; background: @white; border: 1px solid @navy; /*border-radius: 12px; box-shadow: 0 4px 20px rgba(84,67,136,.1);*/
        h2{padding-bottom: 20px;}
        p{padding: 20px 0;}
    }

}

.enterprise-description{
    ul{
        li{display: flex; align-items: center; .arial(16px, 500, @black); padding-bottom: 20px; position: relative; margin-left: 20px;
            i{display: flex; justify-content: center; align-items: center; color: @plum; border: 2px solid @plum; border-radius: 100%;padding: 14px; margin-right: 25px;
                &:after{width: 8px; height: 13px; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(45deg); transform-origin: center;} 
            }
        }
    }
}
@media screen and (max-width: 1000px){
    .hero-section.inside-page{padding-bottom: 30%;
        svg{width: 170%;}
    }
}


@supports (-webkit-touch-callout: none) {
    .hero-section.inside-page{
        .header-fallback-bg{display: flex;}
        svg{display: none;}
    }
}

