<app-navigation></app-navigation>


<router-outlet (activate)="onActivate($event)"></router-outlet>

<footer>
  <div class="footer-links">
    <a routerLink="/home" class="footer-logo"></a>
    <ul class="links-column">
      <label>Solutions</label>
      <li>
        <a routerLink="/solutions">SoPropose</a>
      </li>
      <li>
        <a routerLink="/solutions">Roll Manager</a>
      </li>
      <li>
        <a routerLink="/solutions">Communiqué</a>
      </li>
      <li>
        <a routerLink="/solutions">Connections</a>
      </li>
      <li>
        <a routerLink="/solutions">LegiScript</a>
      </li>
      <li>
        <a routerLink="/solutions">Insights</a>
      </li>
      <li>
        <a routerLink="/solutions">ThirdWatch</a>
      </li>
    </ul>
    <ul class="links-column">
      <label>The Company</label>
      <li>
        <a routerLink="/about-us">About Us</a>
      </li>
      <li>
        <a routerLink="/about-us">Leadership Team</a>
      </li>
      <li>
        <a routerLink="/investors">Investor Relations</a>
      </li>
      <li>
        <a routerLink="/investors">News</a>
      </li>
    </ul>
    <ul class="links-column">
      <label>Additional Links</label>
      <li>
        <a routerLink="/contact">Contact Us</a>
      </li>
      <li>
        <a routerLink="/demo">Request A Demo</a>
      </li>
      <!--<li>
        <a routerLink="/partners">Partners</a>
      </li>-->
    </ul>
  </div>
  <div class="footer-copyright">SoCiti &copy; 2020

    <ul class="social-links">
      <li><a href="#"><i class="gg-twitter"></i></a></li>
      <li><a href="#"><i class="gg-instagram"></i></a></li>
      <li><a href="#"><i class="gg-facebook"></i></a></li>
    </ul>
  </div>
</footer>
