<app-navigation></app-navigation>
<main>
  <h1>SoCiti</h1>
  <h2>SoCiti</h2>
  <h3>SoCiti</h3>
  <a href="#">SoCiti</a>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet cursus libero. Nunc ac enim auctor, molestie enim ut, tempus purus. Nam consectetur turpis ut vehicula tempor. Praesent ex sem, dapibus sed dolor non, efficitur sollicitudin arcu. Pellentesque in massa eget orci commodo porttitor. Etiam varius sem sed urna auctor, ultricies consectetur enim laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
  <router-outlet></router-outlet>
</main>
<footer>
  
</footer>
