<header id="header">
    <a routerLink="home" class="logo"></a>
    <ul class="nav-links">
        <li><a routerLink="home" (click)="toggleSideNav()">Home</a></li>
        <li><a (click)="toggleSideNav()">Solutions</a>
            <div class="overflow-menu">
                <ul class="overflow-nav-links">
                    <li>
                        <a routerLink="/solutions/sopropose">SoPropose</a>
                    </li>
                    <li>
                        <a routerLink="/solutions/roll-manager">Roll Manager</a>
                    </li>
                    <li>
                        <a routerLink="/solutions/communique">Communiqué</a>
                    </li>
                    <li>
                        <a routerLink="/solutions/connections">Connections</a>
                    </li>
                    <li>
                        <a routerLink="/solutions/legiscript">LegiScript</a>
                    </li>
                    <li>
                        <a routerLink="/solutions/insights">Insights</a>
                    </li>
                    <li>
                        <a routerLink="/solutions/thirdwatch">Thirdwatch</a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a routerLink="enterprise" (click)="toggleSideNav()">Enterprise</a></li>
        <li><a routerLink="contact" (click)="toggleSideNav()">Contact Us</a></li>

        <div class="social-links">
            <ul>
                <!--<li><a href="#"><i class="gg-twitter"></i></a></li>-->
                <!--<li><a href="#"><i class="gg-instagram"></i></a></li>-->
                <li><a href="https://www.facebook.com/SoCiti-100801584996769"><i class="gg-facebook"></i></a></li>
            </ul>
        </div>
    </ul>
    <div class="nav-cta">

        <!--<a class="tertiary-button">Login</a>-->
        <a routerLink="/demo" class="primary-button">Request A Demo</a>
    </div>
    <a class="nav-menu-icon" (click)="toggleSideNav()"><i class="gg-menu-right"></i></a>
</header>