<header>
    <a routerLink="home" class="logo">LOGO HERE</a>
    <ul class="nav-links">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="platform">Platform</a></li>
        <li><a routerLink="enterprise">Enterprise</a></li>
        <li><a routerLink="solutions">Solutions</a></li>
        <li><a routerLink="help">Help</a></li>
    </ul>
    <div class="nav-cta">

        <a class="tertiary-button">Login</a>
        <a class="primary-button">Sign Up</a>
    </div>
</header>