html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }
*{box-sizing: border-box;}

/* Color Variables */
@white: #FFF;
@white-purple: #e8e0f1;
@silver-blue: #93A0A7;
@silver-purple: #dbcfe8;
@slate: #323648;
@navy: #1A1938;
@black: #000;
@plum: #544388;
@ginger: #E6532D;
@gold: #FCDA26;

/* Font Mixin */
.arial(@fontsize, @fontweight, @color){
    font-family: Arial, Helvetica, sans-serif;
    font-size: @fontsize;
    font-weight: @fontweight;
    color: @color;
}

body{.arial(14px, 500, @white); background: @white; overflow: hidden;}
main{padding: 85px 20px 40px 20px;}

a{.arial(16px, 500, @gold); text-decoration: none; transition: .2s ease-in-out;
    &:visited{color: @gold;}
    &:hover{cursor: pointer;}
}

h1{.arial(42px, 900, @slate); padding: 28px 0; text-align: center;}
h2{.arial(36px, 700, @black); padding: 24px 0;}
h3{.arial(24px, 700, @black); padding: 20px 0;}
p{.arial(16px, 600, @navy); line-height: 1.4; padding: 20px 0; width: 100%; max-width: 768px;}

a.tertiary-button{display: flex;  flex-direction: row; justify-content: center; align-items: center; min-width: 45px; padding: 0 20px; height: 40px; .arial(16px, 600, @navy); letter-spacing: 1.25px; text-decoration: underline;
    &:hover{color: darken(@navy, 10%);}
}
a.primary-button{display: flex; flex-direction: row; justify-content: center; align-items: center; min-width: 60px; padding: 0 18px; height: 40px; text-align: center; background: @white-purple; .arial(16px, 700, @navy); border-radius: 8px; box-shadow: 0 4px 20px rgba(0,0,0,.1);
    &:hover{background: darken(@white-purple, 5%);}
} 


@media screen and (min-width: 1450px){
    main{padding: 85px 40px 40px 40px;}
}

@media screen and (min-width: 2000px){
    main{padding: 85px 60px 40px 60px;}
}