@import '../../styles.less';

.contact-us-container{display: flex; flex-direction: row; justify-content: space-evenly; align-items: flex-start; width: 100%;
    .email-container, .phone-container{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; flex: 1; padding: 20px; margin: 40px 60px; background: @white; color: @black; border-radius: 8px; box-shadow: 0 0.6px 1.8px rgba(0, 0, 0, 0.014), 0 1.5px 4.3px rgba(0, 0, 0, 0.02), 0 2.9px 8.1px rgba(0, 0, 0, 0.025), 0 5.1px 14.5px rgba(0, 0, 0, 0.03), 0 9.6px 27.2px rgba(0, 0, 0, 0.036), 0 23px 65px rgba(0, 0, 0, 0.05) ;
      
    }
}