@import '../../styles.less';

.info-cards-container{display: flex; flex-direction: row; justify-content: space-around; align-items: flex-start; flex-wrap: wrap; width: 100%; min-height: 200px; margin-top: 40px;
    .info-card{display: flex; flex-direction: column; justify-content: flex-start; align-items: center; flex: 1; min-width: 275px; min-height: 175px; padding: 40px; margin: 20px; background: @white; border: 1px solid @navy; /*border-radius: 12px; box-shadow: 0 4px 20px rgba(84,67,136,.1);*/
        h2{padding-bottom: 20px;}
        p{padding: 20px 0;}
    }

}
