<div class="hero-section">
    <div class="hero-section-content">
        <label>Tagline Here.</label>
        <h1>SoCiti</h1>
        <p>Our mission is to improve the correspondence between local government and the communities served through innovative technology and support. We strive to become the uniform platform facilitating local and state government institutions across the United States. </p>
        <div class="hero-button-container">
            <a href="#" class="secondary-button">Learn More</a>
            <a href="#" class="primary-button">Get Started</a>
        </div>
    </div>
</div>

<main>
    <h1>About Us</h1>
    <div class="info-cards-container">
        <div class="info-card">
            <h2>Our Tech</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet cursus libero.</p>
        </div>
        <div class="info-card">
            <h2>Our People</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet cursus libero.</p>
        </div>
        <div class="info-card">
            <h2>Our Commitment</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet cursus libero.</p>
        </div>
    </div>
    <p style="margin: 80px auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet cursus libero. Nunc ac enim auctor, molestie enim ut, tempus purus. Nam consectetur turpis ut vehicula tempor. Praesent ex sem, dapibus sed dolor non, efficitur sollicitudin arcu. Pellentesque in massa eget orci commodo porttitor. Etiam varius sem sed urna auctor, ultricies consectetur enim laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
</main>



