@import '../../styles.less';

.hero-section.inside-page{display: flex; width: 100%; height: auto; padding-bottom: 25%; /*background: url('../../assets/images/nyc.webp') no-repeat;*/ background-size: cover; background-position: center center; background-blend-mode: luminosity; /*background-color: rgba(84, 67, 136, .5);*/ margin-top: 0px; position: relative; overflow: hidden; z-index: 1;
    .header-fallback-bg{display: none; width: 100%; height: auto;  min-height: 100px; max-width: inherit; background: linear-gradient(to right, #DD512F, #57345e); flex: 0 0 auto; transform: rotateY(180deg); position: absolute; top: 0; right: 0%; z-index: 2; overflow: hidden;}
    #wave-end{display: block; position: absolute; width: 1px; height: 1px; top: 80px; left: 0; opacity: 0; pointer-events: none;}
    svg{display: flex; width: 145%; height: auto; max-width: inherit; flex: 0 0 auto; transform: rotateY(180deg); position: absolute; top: 0; right: 0%; z-index: 1; overflow: hidden;}
}

.demo-video-container{width: 75%; height: auto; margin: 0 auto;
    figure{display: block; width: 100%; height: 0; padding-bottom: 56.25%; position: relative;
        video{display: block; position: absolute; top: 0; left: 0; width: 100%; max-width: 100%; height: 100%; object-fit: contain; border-radius: 12px; box-shadow: 0 1.2px 3.4px -5px rgba(0, 0, 0, 0.022), 0 3.1px 8.7px -5px rgba(0, 0, 0, 0.031), 0 6.4px 17.7px -5px rgba(0, 0, 0, 0.039), 0 13.1px 36.5px -5px rgba(0, 0, 0, 0.048), 0 36px 100px -5px rgba(0, 0, 0, 0.07);
            &:focus{outline: none;}
        }
    }
}
.request-form-section{margin-top: 80px;}
form{display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; background: @white; padding: 40px; border-radius: 12px; box-shadow: 0 0.6px 1.8px rgba(0, 0, 0, 0.014), 0 1.5px 4.3px rgba(0, 0, 0, 0.02), 0 2.9px 8.1px rgba(0, 0, 0, 0.025), 0 5.1px 14.5px rgba(0, 0, 0, 0.03), 0 9.6px 27.2px rgba(0, 0, 0, 0.036), 0 23px 65px rgba(0, 0, 0, 0.05);
    .inputs-container{display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 75%; flex-wrap: wrap;
        .input-container{display: flex; flex-direction: column; justify-content: center; align-items: flex-start; flex-basis: calc(50% - 40px); margin: 0 40px 40px 0;
            label{.arial(12px, 500, @slate); text-transform: uppercase; letter-spacing: 1.5px; margin-bottom: 5px;
                span{.arial(10px, 700, @navy); text-transform: none; margin-bottom: 10px;}
            }
            input:not(.checkbox), textarea{all: unset; box-sizing: border-box; width: 100%; min-height: 42px; padding: 10px 12px; border: 1px solid @black; .arial(16px, 400, @black); border-radius: 6px;
                
            }
            textarea{min-height: 150px;}
            .checkbox-row{display: flex; flex-direction: row-reverse; justify-content: flex-end; align-items: center; margin: 0 0 12px 0px;
                label{.arial(18px, 500, @black); text-transform: none; letter-spacing: 1; margin: 0 0 0 10px;}
                input{width: 32px; height: 32px;}
                &:first-of-type{margin-top: 16px;}
            }
        }
    }
    .action-button-container{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; width: 100%; height: 60px;
        button{all: unset; box-sizing: border-box; display: flex; flex-direction: row; justify-content: center; align-items: center; width: 120px; height: 40px; background: @plum; color: @white; .arial(18px, 700, @white); border-radius: 8px; transition: .25s ease-in-out;
            &:hover{background: darken(@plum, 15%); cursor: pointer;}
        }
    }
}

@media screen and (max-width: 1000px){
    .hero-section.inside-page{padding-bottom: 30%;
        svg{width: 170%;}
    }
}

@media screen and (max-width: 925px){
    .demo-video-container{width: 90%;}
}

@media screen and (max-width: 876px){
    form{padding: 20px;
        .inputs-container{width: 100%;
            .input-container{flex-basis: 100%; margin: 0 0 25px 0;
            
            }
        }
        .action-button-container{justify-content: center;}
    }
}

@supports (-webkit-touch-callout: none) {
    .hero-section.inside-page{
        .header-fallback-bg{display: flex;}
        svg{display: none;}
    }
}